*{
    margin: 0;
    padding: 0;
}
#bg{
    background-image: url(assets/fundo2_png.png);
    background-size: cover;
    background-color: rgb(15, 14, 14);
}
#section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Arial";
    gap: 16px; 
    }

#titulo{  
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
}

.card_2k{
    background-color: black;
    width: 380px;
    height: 600px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
}

.card_2k div{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 25%;
}

.card_2k h1 {
    font-size: 24px;
}

.card_2k button{
    background-color: #2192FF;
    height: 30px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    width: 300px;
    font-weight: bold;
    border-radius: 12px;
}

.card_2k button:hover{
    opacity: 0.5;
}

.card_2k img{
    width: 380px;
    border-radius: 12px;
    height: 440px;
}

.card_2k img:hover{
    opacity: 0.5;
    cursor: pointer;
}




/*Card FIFA*/

.card_fifa{
    background-color: black;
    width: 380px;
    height: 600px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
}

.card_fifa div{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 25%;
}

.card_fifa h1 {
    font-size: 24px;
}

.card_fifa button{
    background-color: #2192FF;
    height: 30px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    width: 300px;
    border-radius: 12px;
}

.card_fifa button:hover{
    opacity: 0.5;
}

.card_fifa img{
    width: 380px;
    border-radius: 12px;
    height: 440px;
}

.card_fifa img:hover{
    opacity: 0.5;
    cursor: pointer;
}


/*Horizon*/

.card_horizon{
    background-color: black;
    width: 380px;
    height: 600px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
}

.card_horizon div{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 25%;
}

.card_horizon h1 {
    font-size: 22px;
}

.card_horizon button{
    background-color: #2192FF;
    height: 30px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    width: 300px;
    border-radius: 12px;
}

.card_horizon button:hover{
    opacity: 0.5;
}

.card_horizon img{
    width: 380px;
    border-radius: 12px;
    height: 440px;
}

.card_horizon img:hover{
    opacity: 0.5;
    cursor: pointer;
}



/*wukong*/

.card_wukong{
    background-color: black;
    width: 380px;
    height: 600px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
}

.card_wukong div{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 25%;
}

.card_wukong h1 {
    font-size: 22px;
}

.card_wukong button{
    background-color: #2192FF;
    height: 30px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 12px;
    width: 300px;
}

.card_wukong button:hover{
    opacity: 0.5;
}

.card_wukong img{
    width: 380px;
    border-radius: 12px;
    height: 440px;
}

.card_wukong img:hover{
    opacity: 0.5;
    cursor: pointer;
}

#separador {
    width: 120px;
}